#divs{
	width:800px;
	height:550px;
	margin-right: 200px;
	margin-left:230px ;
	border:solid 1px #bababa;
}
button,h1,fieldset{
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 25px;
}
legend{
	color:red;
}
#maillist{
    background: none repeat scroll 0 0 #fff;
    display: none;
    position: absolute;
}

#maillist ul li{
    cursor:pointer;
    list-style: none;
}

#maillist ul li:hover{
    color:#999;
}